
<%= form_with model: @person do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <br>
  <div>
    Addresses:
  </div>
  <ul>
    <%= f.fields_for :addresses do |addresses_form| %>
      <li>
        <%= addresses_form.label :kind %>
        <%= addresses_form.text_field :kind %>
 
        <%= addresses_form.label :street %>
        <%= addresses_form.text_field :street %>
          <div class="field">
    </div>

      </li>
    <% end %>
  </ul>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
