
<%= form_for @person do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <br>
  <div>
    Addresses:
  </div>
  <%#= link_to_add_fields 'Add Address', f, :addresses%>
  <fieldset>
        <legend>Addresses:</legend>
        <%#= f.fields_for :addresses do |addresses_form| %>
            <%#= render "address_fields", f: addresses_form %>
        <%# end %>
        <%= link_to_add_fields "Add Addresses", f, :addresses %>
    </fieldset>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>

<%#= javascript_pack_tag 'addAddress' %>

